json only contains value should be supported

Hi @stleary ,

JSON RFC4627 requires the json text should be `object` or `array` in [section 2](https://tools.ietf.org/html/rfc4627#section-2), after RFC 7158, it changed to `JSON-text = ws value ws`, and added some simple json example in [section 13](https://tools.ietf.org/html/rfc7158#section-13):
```
   "Hello world!"

   42

   true

```
json parser [RFC 8259 seciton 9](https://tools.ietf.org/html/rfc8259#section-9) requires that A JSON parser MUST accept all texts that conform to the JSON grammar. so I think we should support the simple json that only contains value like above. and I'm happy to help write this feature if you need. What do you think?

Alan Wang

@Alanscut No objections if you want to add this feature. Unit tests will be needed. The [wiki pages](https://github.com/stleary/JSON-java/wiki) have more information about adding code to the project. Let me know if you have any questions. 

@Alanscut @stleary . this is already supported through the https://github.com/stleary/JSON-java/blob/master/JSONTokener.java

See https://github.com/stleary/JSON-java/issues/238#issuecomment-225102417

@johnjaylward, thanks I had forgotten about this. Closing the issue based on the reason cited above.

@stleary it may make sense to add a note to the README or to make a Wiki page with samples.

Sure, does anyone want to propose some text?

Thanks @johnjaylward and @stleary , I have sumbitted a PR to update README, does anyone besides collaborator have permission to modify the wiki?

The wiki pages will be maintained in this repo:
https://github.com/stleary/JSON-Java-Wiki-Pages
Feel free to submit a pull request there.


Closed due to readme change accepted, and wiki page repo set up.