JSONPointer incorrectly handles the "#" pointer

According to the first example in [RFC 6901 section 6](https://tools.ietf.org/html/rfc6901#section-6) the `"#"` JSON pointer denotes the complete document.

Currently the `JSONPointer` class throws an `IllegalArgumentException` for the `"#"` pointer.

Fixed in #292 